.conteiner-primario {
  margin: 15px;
  padding: 15px;

  width: 200px;
  height: 350px;
  border-radius: 20px;
  justify-content: center;
  background-color: white;
  box-shadow: 0 0 5px;
}
.image {
  width: 150px;
  height: 150px;
}
.conteiner-image {
  display: flex;
  justify-content: center;
}
.descr-title {
  font-size: 10px;
}
.conteiner-color-impor {
  display: flex;

  margin-top: 20px;
}
.color {
  /* border: 1px solid black; */
  display: flex;
  gap: 2px;
  align-items: center;
}
.col {
  font-size: 12px;
}
.cont-import {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}
.import {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.Conj-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}
.button {
  width: 98%;
  height: 30px;
  border-radius: 50px;
  background: linear-gradient(
    91.1deg,
    rgb(57, 31, 105) -2.3%,
    rgb(115, 43, 155) 44.4%,
    rgb(231, 75, 184) 103.4%
  );
  color: white;
  border: none;
}
