.conteiner {
  display: flex;
  width: 100%;
  height: 152px;
  border: 1px solid gray;
  justify-content: space-around;
  align-items: center;
}
.titulo{
 font-family: "Updock", serif; 
 font-size: 100px;
 margin: 0;
}
.titulo2{
  margin: 0;
}
.hamburger{
  display: none;
}
.logo {
  width: 150px;
  height: 150px;
}
.carrito {
  width: 50px;
  height: 50px;
}
.numero-carrito {
  display: flex;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: black;
  color: white;
}
.logoCarrito{
    display: flex;
    align-items: center;
}
@media (max-Width:500px) {
  .conteiner{
   width: 100%;
   height: 70px;
  }
  .logo{
    width: 50px;
    height: 50px;
  }
  .filtros{
    display: none;
  }
  .carrito {
    width: 30px;
    height: 30px;
  }
  .numero-carrito {
    display: flex;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: black;
    color: white;
  
  }
 .hamburger{
  display: flex;
 }
 .titulo{
  font-family: "Updock", serif; 
  font-size: 60px;
  margin: 0;
 }
 .titulo2{
  display:none
 }
}